{% extends 'base.html' %}

{% block title %}
{{post.title}}
{% endblock %}

{% block content %}
<h1>{{post.title}}</h1>
<p>{{post.content}}</p>
<p><em>By {{user.first_name}}{% if user.last_name %} {{user.last_name}}{% endif %}</em></p>
<form action="/posts/{{post.id}}/delete" method="POST">
    <a class="btn btn-light" href="/users/{{user.id}}">Cancel</a>
    <a class="btn btn-primary" href="/posts/{{post.id}}/edit">Edit</a>
    <button class="btn btn-danger">Delete</button>
</form>
{% endblock %}