{% extends 'base.html' %}

{% block title %}
Edit Post
{% endblock %}

{% block content %}
<h1>Edit Post</h1>

<form action="/posts/{{post.id}}/edit" method="POST">
    <div class="form-group row">
        <label for="title" class="col-2">Title</label>
        <input class="form-control col-10" name="title" type="text" value="{{post.title}}" required>
    </div>
    <div class="form-group row">
        <label for="content" class="col-2">Content</label>
        <textarea class="form-control col-10" name="content" type="textarea"  required>{{post.content}}</textarea>
    </div>
    {% for tag in all_tags %}
    <div class="form-check">
        <input class="form-check-input" name="tag" type="checkbox" value="{{tag.id}}" {% if tag in post_tags %}checked{% endif %}>
        <label for="tag" class="form-check-label">{{tag.name.capitalize()}}</label>
    </div>
    {% endfor %}
    <button class="btn btn-success float-right">Edit</button>
    <a class="btn btn-primary float-right mx-1" href="/posts/{{post.id}}">Cancel</a>
</form>
{% endblock %}